.program-section-container {
  max-width: 60rem;
  margin: 0 auto;
}

.program-section-div {
  background-color: #238be6;
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
