@font-face {
  font-family: Gravity;
  src: url("../../public/Fonts/gravity/Gravity-Regular.otf");
}

.sponsorships-div-section {
  max-width: 55rem;
  margin: 0 auto;
  font-family: Gravity;
  color: rgb(26 65 119);
  margin-top: 10rem;
  opacity: 100;
}

.sponsorships-main-header {
  font-size: 3rem;
  margin-left: 1rem;
}

.sponsorships-main-flex {
  margin-top: 5rem;
}
