.payment-form-payment-button {
  padding: 0;
  border: none;
  background: none;
  background-color: #1a4177;
  color: white;
  border-radius: 12px;
  font-family: Gravity;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  max-width: 13rem;
  margin-top: 2.5rem;
}

.payment-form-payment-button:hover {
  padding: 0;
  border: none;
  background: none;
  background-color: #1e4986;
  color: white;
  border-radius: 12px;
  font-family: Gravity;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  max-width: 13rem;
  margin-top: 2.5rem;
}
