:root {
  --gradient: linear-gradient(
    45deg,
    hsla(89, 42%, 45%, 1),
    hsla(201, 96%, 40%, 1),
    hsla(214, 47%, 42%, 1)
  );
}

@font-face {
  font-family: Gravity;
  src: url("../../public/Fonts/gravity/Gravity-Regular.otf");
}

.page-holder-div {
  font-family: Gravity;
  height: 100vh;
  width: 100vw;
  color: white;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 10s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.page-holder-text-section {
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
}

.page-holder-div-image {
  margin-top: 2rem;
}

.page-holder-text-section h1 {
  margin: 0;
}

.page-holder-aspect-ratio-frame {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
}
