.home-grid-information {
  max-width: 55rem;
  margin-top: 0rem;
}

.home-grid-paragraph-title {
  text-align: left;
}

.home-grid-paragraph {
  text-align: left;
  margin-top: 1rem;
}

.home-div-vh-min {
  /* min-height: 100vh; */
  max-width: 60rem;
  margin: 0 auto;
}
