.home-grid-information {
  max-width: 55rem;
  margin-top: 3rem;
}

.home-grid-paragraph-title {
  text-align: left;
}

.home-grid-paragraph {
  text-align: left;
  margin-top: 1rem;
}

.home-div-vh-min {
  min-height: 100vh;
}
