.registration-grid {
  max-width: 60rem;
  margin-top: 1rem;
}

.registration-flex {
  max-width: fit-content;
}

.registration-opening-text {
  text-align: justify;
  text-transform: none;
}

.registration-div-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
