@font-face {
  font-family: Gravity;
  src: url("../../public/Fonts/gravity/Gravity-Regular.otf");
}

@font-face {
  font-family: Auger-Mono-Bold;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-regular.woff2");
}

.registration-updated-main-div {
  max-width: fit-content;
  margin: 0 auto;
  font-family: Gravity;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.registration-updated-main-flex {
  /* border: 1px solid #0482c8;
  border-radius: 6px; */
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding-top: 12%;
  margin-left: 3rem;
}

.registration-updated-main-flex div {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  transition: 0.5s;
}

.registration-updated-sci-clin,
.registration-updated-industry,
.registration-updated-student,
.registration-updated-patient-org {
  border: 1px solid transparent;
}

.registration-updated-sci-clin-active,
.registration-updated-industry-active,
.registration-updated-student-active,
.registration-updated-patient-org-active {
  border: 1px solid #0482c8;
  border-radius: 6px;
}

.registration-updated-main-header {
  font-size: 3rem;
  color: #1a4177;
}

.registration-updated-text-left {
  max-width: 25rem;
  margin-right: 5rem;
  margin-top: 2rem;
  color: #1a4177;
}

.registration-updated-price-500 {
  margin-left: 2.8rem;
}

.registration-updated-price-600 {
  margin-left: 6.4rem;
}

.registration-updated-price-350 {
  margin-left: 6.8rem;
}

.registration-updated-price-500-2 {
  margin-left: 2.2rem;
}

.registration-updated-text {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #0582c8;
  font-family: Auger-Mono-Bold;
}

.registration-updated-register-button {
  padding: 0;
  border: none;
  background: none;
  background-color: #1a4177;
  color: white;
  border-radius: 12px;
  font-family: Gravity;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  max-width: 13rem;
  margin-top: 2.5rem;
}

.registration-updated-register-button:hover {
  padding: 0;
  border: none;
  background: none;
  background-color: #1e4986;
  color: white;
  border-radius: 12px;
  font-family: Gravity;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  max-width: 13rem;
  margin-top: 2.5rem;
}

.registration-updated-register-button a {
  color: white;
  text-decoration: none; /* no underline */
}

.registration-updated-line {
  border-left: 0.5px solid rgb(186, 181, 181);
  margin-top: 3rem;
  height: 200px;
}

.registration-updated-a-tag {
  font-size: 0.8rem;
}

/*Max-width is basically saying 500px, if youre in that this will happen*/
@media all {
  /* xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px */

  @media only screen and (min-width: 300px) {
    .registration-updated-main-header {
      font-size: 2.5rem;
      color: #1a4177;
    }
    .registration-updated-main-div {
      max-width: fit-content;
      font-family: Gravity;
      margin-top: 5rem;
      margin-bottom: 10rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .registration-updated-main-flex {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      padding-top: 12%;
      /* margin-left: 1rem; */
      max-width: fit-content;
      margin: 0 auto;
    }

    .registration-updated-text-left {
      max-width: 25rem;
      margin: 0 auto;
      margin-top: 2rem;
      color: #1a4177;
      font-size: 0.8rem;
    }

    .registration-updated-register-button {
      padding: 0;
      border: none;
      background: none;
      background-color: #1a4177;
      color: white;
      border-radius: 12px;
      font-family: Gravity;
      max-width: 13rem;
      margin: 0 auto;
      margin-top: 2.5rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
      /* margin-left: 3.5rem; */
    }

    .registration-updated-register-button:hover {
      padding: 0;
      border: none;
      background: none;
      background-color: #1e4986;
      color: white;
      border-radius: 12px;
      font-family: Gravity;
      max-width: 13rem;
      margin: 0 auto;
      margin-top: 2.5rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .registration-updated-a-tag {
      font-size: 0.7rem;
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 500px) {
    .registration-updated-text-left {
      max-width: 25rem;
      margin-right: 3rem;
      margin-top: 2rem;
      color: #1a4177;
      font-size: 0.9rem;
    }

    .registration-updated-register-button {
      padding: 0;
      border: none;
      background: none;
      background-color: #1a4177;
      color: white;
      border-radius: 12px;
      font-family: Gravity;
      max-width: 13rem;
      margin-top: 2.5rem;
      margin-left: 0rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .registration-updated-register-button:hover {
      padding: 0;
      border: none;
      background: none;
      background-color: #1e4986;
      color: white;
      border-radius: 12px;
      font-family: Gravity;
      max-width: 13rem;
      margin-top: 2.5rem;
      margin-left: 0rem;
      padding: 0.5rem 2rem 0.5rem 2rem;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .registration-updated-text-left {
      max-width: 25rem;
      margin-right: 0rem;
      margin-top: 2rem;
      color: #1a4177;
      font-size: 1rem;
    }

    .registration-updated-a-tag {
      font-size: 0.8rem;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 764px) {
    .registration-updated-main-div {
      max-width: fit-content;
      margin: 0 auto;
      font-family: Gravity;
      margin-top: 5rem;
      margin-bottom: 10rem;
    }
    .registration-updated-main-header {
      font-size: 3rem;
      color: #1a4177;
    }

    .registration-updated-main-flex {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      padding-top: 12%;
      margin-left: 3rem;
    }

    .registration-updated-text-left {
      max-width: 25rem;
      margin-right: 3rem;
      margin-top: 2rem;
      color: #1a4177;
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 930px) {
    .registration-updated-register-button {
      padding: 0;
      border: none;
      background: none;
      background-color: #1a4177;
      color: white;
      border-radius: 12px;
      font-family: Gravity;
      max-width: 13rem;
      margin-top: 2.5rem;
      margin-left: 0rem;
      padding: 0.5rem 3rem 0.5rem 3rem;
    }

    .registration-updated-register-button:hover {
      padding: 0;
      border: none;
      background: none;
      background-color: #1e4986;
      color: white;
      border-radius: 12px;
      font-family: Gravity;
      max-width: 13rem;
      margin-top: 2.5rem;
      margin-left: 0rem;
      padding: 0.5rem 3rem 0.5rem 3rem;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
}
