@font-face {
  font-family: Auger-Mono-Light;
  src: url("../../public/Fonts-Two/Auger\ Mono\ Webfont/augermono-light.woff2");
}

@font-face {
  font-family: Gravity;
  src: url("../../public/Fonts-Two/Gravity/Gravity-Regular.otf");
}

.committee-scientific-title {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: left;
}

.committee-programme-title {
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: left;
}

.committee-container {
  margin: 0 auto;
  max-width: fit-content;
  margin-bottom: 1rem;
}

.committee-scientific-container {
  margin-top: 1rem;
  text-align: left;
  max-width: fit-content;
}

.committee-programme-container {
  margin-top: 1rem;
  text-align: left;
}

.committee-italic-title {
  font-style: italic;
}

.committee-outer-container {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.committee-text-left {
  color: rgb(26 65 119);
}

.committee-text-left-header {
  font-family: Gravity;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: none;
  text-decoration: none;
}

.committee-text-left-paragraph {
  font-family: Gravity;
  margin-top: 3rem;
  font-size: 0.9rem;
  text-transform: none;
  text-decoration: none;
  max-width: 30rem;
}

.committee-text-left-footer {
  font-family: Gravity;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: none;
  text-decoration: none;
}

.comittee-grid {
  margin: 0 auto;
}

.committee-grid-right-image {
  margin-top: 5rem;
  margin-left: 1rem;
}

.committee-image-stairs {
  margin-top: 7rem;
  color: rgb(26 65 119);
}

.committee-west-coast-text {
  color: rgb(26 65 119);
  max-width: 30rem;
  margin-top: 10rem;
}

.committee-west-coast-text-header {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.committee-west-coast-text-paragraph {
  margin-top: 2rem;
  font-size: 0.9rem;
  text-transform: none;
  text-decoration: none;
}

.committee-image-bridge {
  color: rgb(26 65 119);
  margin-left: 10rem;
  margin-top: 10rem;
}

.committee-contain-div {
  max-width: fit-content;
  margin: 0 auto;
}

.committee-text-roll-over {
  color: white;
  position: absolute;
  transform: translate(5px, -25px);
}

.committee-bridge-roll-over {
  color: white;
  position: absolute;
  transform: translate(5px, -25px);
}
