@font-face {
  font-family: Gravity-Bold;
  src: url("../../../public/Fonts/gravity/Gravity-Bold.otf");
}

.nav-bar-picture {
  margin-left: 1rem;
}
.nav-bar-whole {
  margin-right: 1rem;
  margin-left: 15rem;
  margin-top: 0.5rem;
}

.nav-bar-different-sections {
  color: rgb(26 65 119);
  cursor: pointer;
  font-family: Gravity-Bold;
  text-transform: uppercase;
  font-size: 8px;
}

.nav-bar-different-sections:hover {
  text-decoration-color: rgb(26 65 119);
  text-decoration: underline;
}

.nav-bar-tri-text {
  text-align: left;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.nav-bar-container {
  max-width: fit-content;
  margin-top: 2.5rem;
  background-color: white;
}

nav {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 10;
}
