.carousel-main-div {
  /* background-color: #1a4177; */
  background-image: url("../Images/Carousel/TRI2024_CarouselBkg.png");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.carousel-circle-small {
  width: 100px;
  height: 100px;
  background-color: #1a4177;
  border: 0.5px solid white;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 50%;
  transform: translate(-30%, 50%);
}

.carousel-circle-small-two {
  width: 150px;
  height: 150px;
  background-color: #1a4177;
  border: 0.5px solid white;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(150px, -100px);
}

.carousel-circle-small-three {
  width: 300px;
  height: 900px;
  background-color: #1a4177;
  border: 0.5px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.carousel-button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.carousel-arrow-right {
  right: 2rem;
}

.carousel-arrow-left {
  left: 2rem;
}

.carousel-no-display-slide {
  display: none;
  animation: fading 10s infinite;
}

.carousel-display-slide {
  /* animation: fading 10s infinite; */
}

.carousel-post-presentations {
  color: white;
  font-size: 3rem;
  max-width: 30rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  display: none;
}

.carousel-post-presentations-active {
  color: white;
  font-size: 3rem;
  max-width: 30rem;
  padding-top: 8.4rem;
  padding-bottom: 8.4rem;
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.carousel-slide {
  display: none;
}

.carousel-slide-active {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
