@font-face {
  font-family: Gravity;
  src: url("../../public/Fonts-Two/Gravity/Gravity-Regular.otf");
}

.venue-i-frame-div {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 10rem;
  color: rgb(26 65 119);
  font-family: Gravity;
}

.venue-title-event-location {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.venue-text-div-right {
  margin-top: 40%;
  opacity: 0;
}

.venue-text-div-right-active {
  margin-top: 40%;
  opacity: 1;
  transition: 3s ease;
}

.venue-text-location {
  font-size: 0.9rem;
}

.venue-text-website {
  color: #0082c8;
  font-size: 0.9rem;
}

.venue-text-title {
  font-size: 1.8rem;
}

.venue-text-website a {
  color: #0082c8;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.5s;
}

.venue-text-website a:hover {
  text-decoration-color: #0191de;
}

.venue-iframe-div {
  margin-left: 1rem;
}

.venue-iframe-div {
  opacity: 0;
}

.venue-iframe-div-active {
  opacity: 1;
  transition: 0.8s ease;
}
